@model QLQuanBida.Models.UserAdmin

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserAdmin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uSername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uSername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pAssWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pAssWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
