@model IEnumerable<QLQuanBida.Models.UserAdmin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uSername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pAssWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uSername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pAssWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
