@model QLQuanBida.Models.Ban

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuVuc.MaKV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuVuc.MaKV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDBan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
