@model QLQuanBida.Models.ChamCong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChamCong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaoLam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaoLam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TanLam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanLam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaLam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaLam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.MaNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idChamCong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
