@model QLQuanBida.Models.DonViTinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonViTinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDVT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
